@import url(./header.css);
@import url(./cards.css);
@import url(./footer.css);
@import url(./reset.css);

/* -----Estilos para o main(conteúdo principal)----- */

.main-content{
    width: 100%;
    height: 200vh;
    background-color: rgb(91, 185, 214);
    
}

.content-sec01{
    width: 100%;
    height: 100vh;
    background-color: rgb(91, 185, 214);
    
}

html{
    
}

.content-nosso-time, .content-cursos, .content-faq, .content-contato{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;

}

.content-nosso-time{
    background-color: rgba(0, 47, 255, 0.779);
    justify-content: space-evenly;
    flex-wrap: wrap;


}

.content-cursos{
    background-color: deepskyblue;
}

.content-faq{
    background-color: rgba(0, 47, 255, 0.779);
}

.content-contato{
    background-color: deepskyblue;
}

.whatsapp-button {
    position: fixed;
    /* distância do rodapé */
    bottom: 100px;
    /* distância da lateral */
    right: 96px;
    filter: drop-shadow(0 0 4px white);
    z-index: 1000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.whatsapp-button img {
    width: 40px;

}

.whatsapp-button:hover {
    transform: scale(1.1);
}