

/* -----Estilos para o main(conteúdo principal)----- */

.main-content{
    width: 100%;
    height: 200vh;
    background-color: blue;
    
}

.content-sec01{
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    
}